
<h2><%= @project.name%></h2>
<p>material: <%= @project.material%></p>
<p>Challenge Theme: <%= @project.challenge_theme%></p>
<p>Number of Contestants: <%= @project.contestant_count%></p>
<p>Average Contestant Experience: <%= @project.contestant_avg_exp %> years</p>
